
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.login-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #4a154b;
}

.login-form {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    border: 1px solid #4a154b;
    border-radius: 15px;
    padding: 25px;
    background-color: #4a154b;
    color: white;
}

.login-form-label {
    font-size: 22px;
    margin-bottom: 10px;
}

.login-form-input {
    color: #4a154b;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    border: 0;
    background-color: #f7f7f7;
    color: #4a154b;
    border-radius: 15px;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login-form-input:focus-visible {
    outline: 0;
}

.login-form-submit {
    background-color: #f7f7f7;
    color: #4a154b;
    border-radius: 15px;
    min-height: 35px;
    font-weight: 700;
    font-size: 18px;
    width: 50%;
    align-self: center;
    margin-top: 25px;
}

.login-button-register {
    font-weight: 600;
    color: #4a154b;
    margin-top: 20px;
    font-size: 16px;
}