{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'style/main.css' %}">
        <link rel="stylesheet" href="{% static 'table/css/sortable-theme-bootstrap.css' %}" />
        <script src="{% static 'table/js/sortable.min.js' %}"></script>
        <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery/jquery-3.6.2.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        {% block custom_css %}{% endblock custom_css %}
    </head>
    <body class="base-template">
        {% include 'header.html' %}
        {% block body_data %}{% endblock body_data %}

        {% include 'footer.html' %}
        {% block custom_js %}{% endblock custom_js %}
    </body>
</html>
