{% extends 'baseViewTemplate.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block body_data %}

<div class="home-page">


{% if user.is_authenticated %}

    <p class="home-page__paragraph">Welcome, <span class="home-page__name">{{ user.first_name }} {{ user.last_name }}.</span></p>
    <p class="home-page__paragraph">Thanks for logging in.</p>

{% else %}

    <p class="home-page__paragraph">Welcome to <span class="home-page__name">LOGO.</span> </p>
    <p class="home-page__paragraph"> <span><a href="/register" class="home-page__link">Sign Up</a></span> now and choose a ride wherever you want!</p>

{% endif %}



</div>
{% endblock body_data %}
