{% extends 'baseViewTemplate.html' %}
{% block title %}
Login
{% endblock title %}
{% load widget_tweaks %}
{% block body_data %}
<div class="login-page">

    <div class="login-title">Login</div>

    <form class="login-form" method="post">
        {% csrf_token %}
        <label class="login-form-label" for="login-email">Email</label>
        {{ login_form.username|add_class:'login-form-input' }}
        <label class="login-form-label" for="login-password">Password</label>
        {{ login_form.password|add_class:'login-form-input' }}
        <button class="login-form-submit" type="submit">Login</button>

    </form>

    <a class="login-button-register" href="/register">
        You don't have and account? Register
    </a>

</div>
{% endblock body_data %}
