{% extends 'baseViewTemplate.html' %}

{% block title %}
Login
{% endblock title %}

{% block body_data %}

<!--TODO polaczyc z baza danych-->

<div class="profile-page">

    <div class="profile-page__rides">

        <div class="profile-page__rides-my-rides">
            <card class="profile-page__rides-ride">
                <div class="profile-page__rides-ride-origin">
                    Krakow
                </div>
                <div class="profile-page__rides-ride-destination">
                    Warszawa
                </div>
                <div class="profile-page__rides-ride-date">
                    24.12.2022 <span class="profile-page__rides-ride-date-hour"> 17:00</span>
                </div>
                <div class="profile-page__rides-ride-car-owner">
                    Kapitan Bomba
                </div>
            </card>
            <card class="profile-page__rides-ride">
                <div class="profile-page__rides-ride-origin">
                    Krakow
                </div>
                <div class="profile-page__rides-ride-destination">
                    Warszawa
                </div>
                <div class="profile-page__rides-ride-date">
                    24.12.2022 <span class="profile-page__rides-ride-date-hour"> 17:00</span>
                </div>
                <div class="profile-page__rides-ride-car-owner">
                    Kapitan Bomba
                </div>
            </card>
            <card class="profile-page__rides-ride">
                <div class="profile-page__rides-ride-origin">
                    Krakow
                </div>
                <div class="profile-page__rides-ride-destination">
                    Warszawa
                </div>
                <div class="profile-page__rides-ride-date">
                    24.12.2022 <span class="profile-page__rides-ride-date-hour"> 17:00</span>
                </div>
                <div class="profile-page__rides-ride-car-owner">
                    Kapitan Bomba
                </div>
            </card>
        </div>

        <div class="profile-page__rides-signed-for-rides">

        </div>

    </div>

    <div class="profile-page__profile">

        <div class="profile-page__profile-image"></div>
        <div class="profile-page__profile-name"></div>
        <div class="profile-page__profile-birthdate"></div>
        <div class="profile-page__profile-date-created"></div>
        <div class="profile-page__profile-about"></div>

    </div>



</div>
{% endblock body_data %}
