{% extends 'baseViewTemplate.html' %}

{% block title %}
Register
{% endblock title %}

{% block body_data %}
<div class="login-page">

    <div class="login-title">Register</div>

    <form class="login-form">

        <label class="login-form-label">Username</label>
        <input class="login-form-input" type="text">

        <label class="login-form-label">Password</label>
        <input class="login-form-input" type="password">

        <button class="login-form-submit" type="submit">Register</button>

    </form>

    <a class="login-button-register" href="google.pl">
        You already have and account? Login
    </a>

</div>
{% endblock body_data %}
