{% extends 'baseViewTemplate.html' %}

{% block title %}
Register
{% endblock title %}

{% block body_data %}
<div class="login-page">

    <div class="login-title">Register</div>

    <form class="login-form">
        {% csrf_token %}

        <label class="login-form-label" for="register-name">Imię</label>
        <input class="login-form-input" type="text" id="register-name">

        <label class="login-form-label" for="register-surname">Nazwisko</label>
        <input class="login-form-input" type="text" id="register-surname">

        <label class="login-form-label" for="register-email">Email</label>
        <input class="login-form-input" type="text" id="register-email">

        <label class="login-form-label" for="register-phone-number">Telefon</label>
        <input class="login-form-input" type="text" id="register-phone-number">

        <label class="login-form-label" for="register-password">Password</label>
        <input class="login-form-input" type="password" id="register-password">

        <label for="register-picture" class="form-label">Zdjęcie profilowe</label>
        <input class="form-control" type="file" id="register-picture">

        <button class="login-form-submit" type="submit">Register</button>

    </form>

    <a class="login-button-register" href="/login">
        You already have and account? Login
    </a>

</div>
{% endblock body_data %}
