{% extends 'baseViewTemplate.html' %}

{% block title %}
Register
{% endblock title %}
{% load widget_tweaks %}
{% block body_data %}
<div class="login-page">

    <div class="login-title">Register</div>

    <form class="login-form" method="post">
        {% csrf_token %}


        <label class="login-form-label">Imię</label>
        {{ register_form.first_name|add_class:'login-form-input' }}

        <label class="login-form-label">Nazwisko</label>
        {{ register_form.last_name|add_class:'login-form-input' }}

        <label class="login-form-label">Email</label>
        {{ register_form.email|add_class:'login-form-input' }}

        <label class="login-form-label">Telefon</label>
        {{ register_form.phone_number|add_class:'login-form-input' }}

        <label class="login-form-label">Password</label>
        {{ register_form.password|add_class:'login-form-input' }}

        <label class="login-form-label">Zdjęcie profilowe</label>
        {{ register_form.profile_picture|add_class:'form-control' }}

        <label class="login-form-label">Data urodzenia</label>
        {{ register_form.birth_date|add_class:'login-form-input' }}

        <label class="login-form-label">O mnie</label>
        {{ register_form.about_me|add_class:'login-form-input' }}
        <button class="login-form-submit" type="submit">Register</button>

    </form>
    <a class="login-button-register" href="/login">
        You already have and account? Login
    </a>

</div>
{% endblock body_data %}
