
<card class="route-card">
    <div class="route-card__ride-details">
        <div class="route-card__origin">
            {{ route.origin }}
            <svg width="25" height="25" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="Layer 2" id="Layer_2"><path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/></g></svg>
            {{ route.destination }}
        </div>
        <div class="route-card__date">
            {{ route.date }} <span class="route-card__date-hour">{{ route.hour }}</span>
        </div>
        <a href="/user/{{ route.carOwner.id }}" class="route-card__car-owner">
            <span class="route-card__car-owner-image"></span>
            {{ route.carOwner }}
        </a>
        <div class="route-card__seats">
            <span class="route-card__seats-help-text">Pozostało wolnych miejsc:</span>
            {{ route.seatsLeft }}
        </div>
    </div>

    {% if route.passengers %}

        <div class="route-card__passengers">
            Zapisani na podróż:

            {% for passenger in route.passengers %}
                <a href="/user/{{ passenger.id }}" class="route-card__passengers-person">
                    <span class="route-card__passengers-person-image"></span>
                    {{ passenger.name }}
                    <span class="route-card__passengers-person-phone-number">tel. {{ passenger.phoneNumber }}</span>
                </a>
            {% endfor %}
        </div>

    {% endif %}

    {% if not route.canSign %}
        <Button class="route-card__button" type="submit"
                onclick="location.href = '{%url "ride_sign" route_id=route.id %}'" >
            Zapisz się
        </Button>
    {% endif %}

</card>
