{% extends 'baseViewTemplate.html' %}

{% block title %}
Login
{% endblock title %}
{% load widget_tweaks %}
{% block body_data %}

<div class="search-page">

    <h1 class="search-page__title">Gdzie Jedziemy?</h1>
    <div class="row g-3">
        <form method="post">
            {% csrf_token %}
            <div class="col">
                {{ searchForm.origin|add_class:'' }}
            </div>
            <div class="col">
                {{ searchForm.destination|add_class:'' }}
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary search-page__button-search">Szukaj</button>
            </div>
        </form>
    </div>


    <h1 class="search-page__title">Znalezione Trasy:</h1>
        <div id="routes">
            {% for route in routes %}
                {% include "routeCard.html" %}
            {% empty %}
                <h3>Brak dostępnych tras :(</h3>
            {% endfor %}
        </div>
</div>
{% endblock body_data %}
